/************ BACKGROUNDS ************/

.board-background {
  -fx-background-image: url("backgrounds/board.png");
  -fx-background-repeat: no-repeat;
  -fx-background-size: contain;
  -fx-effect: dropshadow(gaussian, #000000, 20, 0, 8, 2);
}

.wood-background {
  -fx-background-image: url("backgrounds/wood.jpg");
  -fx-background-repeat: no-repeat;
  -fx-background-size: auto;
}

.night-sky-background {
  -fx-background-image: url("backgrounds/nightSky.jpg");
  -fx-background-repeat: no-repeat;
  -fx-background-size: cover;
}

.game-flow-background {
  -fx-background-image: url("backgrounds/game-flow-2.jpg");
  -fx-background-repeat: no-repeat;
  -fx-background-size: cover;
}

/************* BUTTONS *************/

.blue-button {
  -fx-font-size: 20px;
  -fx-font-weight: bold;
  -fx-background-color: linear-gradient(darkblue, grey), blue;
  -fx-background-radius: 10;
  -fx-text-fill: white;
  -fx-effect: dropshadow(one-pass-box, black, 8, 0, 2, 0);
}
.blue-button:hover {
  -fx-background-color: linear-gradient(blue, grey), navy;
}


.dodgerblue-button {
  -fx-font-size: 20px;
  -fx-font-weight: bold;
  -fx-background-color: linear-gradient(rgb(38, 77, 156), grey), #1E90FF;
  -fx-background-radius: 10;
  -fx-text-fill: white;
  -fx-effect: dropshadow(one-pass-box, black, 8, 0, 2, 0);
}
.dodgerblue-button:hover {
  -fx-background-color: linear-gradient(#15395e, grey), #1a5795;
}

.brown-button {
  -fx-font-size: 20px;
  -fx-font-weight: bold;
  -fx-background-color: linear-gradient(rgb(154, 97, 16), grey),
    rgb(162, 100, 1);
  -fx-background-radius: 10;
  -fx-text-fill: white;
  -fx-effect: dropshadow(one-pass-box, black, 8, 0, 2, 0);
}
.brown-button:hover {
  -fx-background-color: linear-gradient(rgb(156, 115, 2), grey),
    rgb(117, 81, 14);
}

.lightblue-button {
  -fx-font-size: 20px;
  -fx-font-weight: bold;
  -fx-background-color: linear-gradient(rgb(0, 88, 139), grey), rgb(0, 195, 255);
  -fx-background-radius: 40;
  -fx-text-fill: white;
  -fx-effect: dropshadow(one-pass-box, black, 8, 0, 2, 0);
}
.lightblue-button:hover {
  -fx-background-color: linear-gradient(rgb(0, 102, 255), grey),
    rgb(0, 109, 128);
}

.yellow-button {
  -fx-font-size: 20px;
  -fx-font-weight: bold;
  -fx-background-color: linear-gradient(orange, grey), gold;
  -fx-background-radius: 10;
  -fx-text-fill: white;
  -fx-effect: dropshadow(one-pass-box, black, 8, 0, 2, 0);
}
.yellow-button:hover {
  -fx-background-color: linear-gradient(gold, grey), orange;
}

.gold-button {
  -fx-font-size: 20px;
  -fx-font-weight: bold;
  -fx-background-color: linear-gradient(rgb(187, 128, 19), grey),
    rgb(204, 173, 0);
  -fx-background-radius: 10;
  -fx-text-fill: white;
  -fx-effect: dropshadow(one-pass-box, black, 8, 0, 2, 0);
}
.gold-button:hover {
  -fx-background-color: linear-gradient(rgb(197, 168, 0), grey),
    rgb(184, 123, 9);
}

.green-button {
  -fx-font-size: 20px;
  -fx-font-weight: bold;
  -fx-background-color: linear-gradient(green, grey), limegreen;
  -fx-background-radius: 10;
  -fx-text-fill: white;
  -fx-effect: dropshadow(one-pass-box, black, 8, 0, 2, 0);
}
.green-button:hover {
  -fx-background-color: linear-gradient(darkgreen, grey), green;
}

.darkgreen-button {
  -fx-font-size: 20px;
  -fx-font-weight: bold;
  -fx-background-color: linear-gradient(rgb(0, 54, 0), grey), rgb(28, 121, 28);
  -fx-background-radius: 10;
  -fx-text-fill: white;
  -fx-effect: dropshadow(one-pass-box, black, 8, 0, 2, 0);
}
.darkgreen-button:hover {
  -fx-background-color: linear-gradient(rgb(0, 90, 0), grey), rgb(0, 56, 0);
}

.red-button {
  -fx-font-size: 20px;
  -fx-font-weight: bold;
  -fx-background-color: linear-gradient(red, grey), crimson;
  -fx-background-radius: 10;
  -fx-text-fill: white;
  -fx-effect: dropshadow(one-pass-box, black, 8, 0, 2, 0);
}
.red-button:hover {
  -fx-background-color: linear-gradient(firebrick, grey), red;
}

.grey-button {
  -fx-font-size: 20px;
  -fx-font-weight: bold;
  -fx-background-color: linear-gradient(silver, grey), grey;
  -fx-background-radius: 40;
  -fx-text-fill: white;
  -fx-effect: dropshadow(one-pass-box, black, 8, 0, 2, 0);
}
.grey-button:hover {
  -fx-background-color: linear-gradient(darkgray, grey), cadetblue;
}

.black-button {
  -fx-font-size: 20px;
  -fx-font-weight: bold;
  -fx-background-color: linear-gradient(rgb(54, 54, 54), grey), rgb(35, 35, 35);
  -fx-background-radius: 10;
  -fx-text-fill: white;
  -fx-effect: dropshadow(one-pass-box, black, 8, 0, 2, 0);
}
.black-button:hover {
  -fx-background-color: linear-gradient(rgb(101, 101, 101), grey), rgb(39, 60, 61);
}

.purple-button {
  -fx-font-size: 20px;
  -fx-font-weight: bold;
  -fx-background-color: linear-gradient(darkslateblue, grey), darkorchid;
  -fx-background-radius: 40;
  -fx-text-fill: white;
  -fx-effect: dropshadow(one-pass-box, black, 8, 0, 2, 0);
}
.purple-button:hover {
  -fx-background-color: linear-gradient(darkviolet, grey), indigo;
}

.olive-button {
  -fx-font-size: 20px;
  -fx-font-weight: bold;
  -fx-background-color: linear-gradient(rgb(20, 114, 30), grey), rgb(8, 61, 13);
  -fx-background-radius: 40;
  -fx-text-fill: white;
  -fx-effect: dropshadow(one-pass-box, black, 8, 0, 2, 0);
}
.olive-button:hover {
  -fx-background-color: linear-gradient(rgb(18, 148, 31), grey), rgb(16, 116, 26);
}

.glow-button {
  /* Define the hover effect styles here */
  -fx-effect: dropshadow(gaussian, rgb(144, 157, 158), 80, 0, 0, 6);
}

/************* BOARD *************/

.score-icon-pane {
  -fx-border-color: black;
}

.score-label {
  -fx-font-size: 50px;
  /* -fx-text-fill: rgb(0, 174, 255); */
  -fx-font-weight: bold;
  -fx-font-family: "Comic Sans MS";
  -fx-padding: 10px;
  -fx-effect: dropshadow(gaussian, rgb(59, 59, 59), 25, 0, 2, 6);
}

.other-score-label {
  -fx-font-size: 25px;
  /* -fx-text-fill: rgb(0, 174, 255); */
  -fx-font-weight: bold;
  -fx-font-family: "Comic Sans MS";
  -fx-padding: 10px;
  -fx-effect: dropshadow(gaussian, rgb(0, 0, 0), 20, 0, 2, 6);
}

.bag-label {
  -fx-font-size: 30px;
  -fx-text-fill: rgb(243, 204, 204);
  /* -fx-font-weight: bold; */
  -fx-font-family: "Comic Sans MS";
  -fx-padding: 10px;
  -fx-effect: dropshadow(gaussian, rgb(0, 0, 0), 20, 0, 2, 6);
}

.turn-label {
  -fx-font-size: 30px;
  -fx-font-weight: bold;
  -fx-font-family: "Comic Sans MS";
  -fx-padding: 10px;
  -fx-effect: dropshadow(gaussian, black, 20, 0, 2, 6);
}

.wood-score-board {
  -fx-background-image: url("player-board3.png");
  -fx-background-size: contain;
  -fx-background-repeat: no-repeat;
}

.other-score-board {
  -fx-background-image: url("player-board4.png");
  -fx-background-size: cover;
  -fx-background-repeat: no-repeat;
}

.bag-image {
  /* -fx-background-image: url("bag1.png"); */
  -fx-background-size: contain;
  -fx-background-repeat: no-repeat;
}

.my-words-box {
  -fx-background-image: url("class-board.jpg");
  -fx-background-size: cover;
  -fx-background-repeat: no-repeat;
}

.message-box {
  -fx-background-image: url("open-book3.png");
  -fx-background-size: cover;
  -fx-background-repeat: no-repeat;

}

/* .cell {
  -fx-border-color: transparent;
  -fx-background-color: transparent;
} */

/* Target the ListView directly */
#wordsListView {
  -fx-background-color: transparent;
}

/* Or, target the cell style only within the ListView */
#wordsListView .cell {
  -fx-border-color: transparent;
  -fx-background-color: transparent;
}


.board-cell {
  -fx-border-color: transparent;
  -fx-background-color: transparent;
}

.board-cell.character {
  -fx-background-size: cover;
  -fx-border-width: 4px;
  -fx-border-radius: 5px;
}

.board-cell.selected {
  -fx-alignment: center;
  -fx-border-color: black;
  -fx-border-width: 4px;
  -fx-border-radius: 5px;
}

.board-cell.highlight {
  -fx-alignment: center;
  -fx-border-color: rgb(91, 247, 91);
  -fx-border-width: 4px;
  -fx-border-radius: 5px;
  -fx-effect: dropshadow(gaussian, rgb(157, 255, 45), 25, 0, 0, 7);

}

.title {
  -fx-text-alignment: center;
  -fx-font-family: "Arial";
  -fx-font-weight: bold;
  -fx-font-size: 24px;
}

.little-title {
  -fx-text-alignment: center;
  -fx-font-family: "Arial";
  -fx-font-weight: bold;
  -fx-font-size: 20px;
}

/************* GENERAL *************/

.tile-button {
  -fx-background-color: transparent;
  -fx-background-size: cover;
}

.tile-button-hover {
  /* Define the hover effect styles here */
  -fx-effect: dropshadow(gaussian, rgb(255, 241, 45), 15, 0, 0, 0);
}

.book-scrabble-header {
  -fx-font-size: 55px;
  -fx-fill: antiquewhite;
  -fx-font-weight: bold;
  -fx-font-family: "Comic Sans MS";
  -fx-padding: 10px;
  -fx-effect: dropshadow(gaussian, black, 20, 0, 2, 6);
}

.my-name-label {
  -fx-font-size: 35px;
  -fx-font-weight: bold;
  -fx-font-family: "Comic Sans MS";
  -fx-text-fill: rgb(21, 21, 20);
  -fx-effect: dropshadow(gaussian, #adadad, 5, 0, 0, 6);
}

.other-name-label {
  -fx-font-size: 20px;
  -fx-font-weight: bold;
  -fx-font-family: "Comic Sans MS";
  -fx-text-fill: rgb(245, 245, 245);
  -fx-effect: dropshadow(gaussian, #1f1f1f, 5, 0, 0, 1);
}

.mode-label {
  -fx-font-size: 16px;
  -fx-padding: 5px;
  -fx-text-fill: gainsboro;
  -fx-effect: dropshadow(gaussian, #000000, 20, 0, 2, 6);
}

.book-label {
  -fx-effect: dropshadow(gaussian, black, 8, 1, 0, 1);
  -fx-text-fill: white;
}

.selected-book-image {
  -fx-effect: dropshadow(gaussian, gold, 7, 1, 0, 1);
}

.error-field {
  -fx-border-color: gold;
  -fx-border-width: 4px;
  -fx-border-radius: 6px;
  -fx-effect: dropshadow(gaussian, #090909, 15, 0, 0,9);
}

.os-bar {
  -fx-background-color: transparent;
}

.content-label {
  -fx-font-size: 18px;
  -fx-font-family: "Arial Unicode MS"; /* Choose a font that supports the Unicode character */
}

.alert-content-background {
  -fx-background-color: rgba(224, 147, 47, 0.856);
  -fx-border-color: black;
  -fx-border-width: 3px;
}

.settings-content-background {
  -fx-background-color: grey;
  -fx-border-color: black;
  -fx-border-width: 3px;
}

.help-content-background {
  -fx-background-color: rgb(168, 79, 212);
  -fx-border-color: black;
  -fx-border-width: 3px;
}

.drawtiles-content-background {
  -fx-background-color: rgb(48, 219, 224);
  -fx-border-color: black;
  -fx-border-width: 3px;
}

.message-content-background {
  -fx-background-color: rgb(8, 61, 13);
  -fx-border-color: black;
  -fx-border-width: 3px;
}

.text-field {
  -fx-background-radius: 10px;
  -fx-background-color: burlywood;
  -fx-text-fill: black;
  -fx-font-size: 25px;
  -fx-font-weight: bold;
  -fx-effect: dropshadow(gaussian, #1f1f1f, 10, 0, 0, 5);
}

.login-label {
  -fx-font-size: 16px;
  -fx-font-weight: bold;
  -fx-text-fill: gainsboro;
}

.minimize-button {
  -fx-font-size: 18px;
  -fx-font-family: "Arial Unicode MS"; /* Choose a font that supports the Unicode character */
}

.progress-indicator {
  -fx-progress-color: black; /* Change this to your desired color */
}


/************* LETTERS *************/

/* Generate styles for each uppercase letter */
.character-A {
  -fx-background-image: url('tiles/A.png');
  -fx-background-repeat: no-repeat;
  -fx-background-size: contain;
}

.character-B {
  -fx-background-image: url('tiles/B.png');
  -fx-background-repeat: no-repeat;
  -fx-background-size: contain;
}

.character-C {
  -fx-background-image: url('tiles/C.png');
  -fx-background-repeat: no-repeat;
  -fx-background-size: contain;
}

.character-D {
  -fx-background-image: url('tiles/D.png');
  -fx-background-repeat: no-repeat;
  -fx-background-size: contain;
}

.character-E {
  -fx-background-image: url('tiles/E.png');
  -fx-background-repeat: no-repeat;
  -fx-background-size: contain;
}

.character-F {
  -fx-background-image: url('tiles/F.png');
  -fx-background-repeat: no-repeat;
  -fx-background-size: contain;
}

.character-G {
  -fx-background-image: url('tiles/G.png');
  -fx-background-repeat: no-repeat;
  -fx-background-size: contain;
}

.character-H {
  -fx-background-image: url('tiles/H.png');
  -fx-background-repeat: no-repeat;
  -fx-background-size: contain;
}

.character-I {
  -fx-background-image: url('tiles/I.png');
  -fx-background-repeat: no-repeat;
  -fx-background-size: contain;
}

.character-J {
  -fx-background-image: url('tiles/J.png');
  -fx-background-repeat: no-repeat;
  -fx-background-size: contain;
}

.character-K {
  -fx-background-image: url('tiles/K.png');
  -fx-background-repeat: no-repeat;
  -fx-background-size: contain;
}

.character-L {
  -fx-background-image: url('tiles/L.png');
  -fx-background-repeat: no-repeat;
  -fx-background-size: contain;
}

.character-M {
  -fx-background-image: url('tiles/M.png');
  -fx-background-repeat: no-repeat;
  -fx-background-size: contain;
}

.character-N {
  -fx-background-image: url('tiles/N.png');
  -fx-background-repeat: no-repeat;
  -fx-background-size: contain;
}

.character-O {
  -fx-background-image: url('tiles/O.png');
  -fx-background-repeat: no-repeat;
  -fx-background-size: contain;
}

.character-P {
  -fx-background-image: url('tiles/P.png');
  -fx-background-repeat: no-repeat;
  -fx-background-size: contain;
}

.character-Q {
  -fx-background-image: url('tiles/Q.png');
  -fx-background-repeat: no-repeat;
  -fx-background-size: contain;
}

.character-R {
  -fx-background-image: url('tiles/R.png');
  -fx-background-repeat: no-repeat;
  -fx-background-size: contain;
}

.character-S {
  -fx-background-image: url('tiles/S.png');
  -fx-background-repeat: no-repeat;
  -fx-background-size: contain;
}

.character-T {
  -fx-background-image: url('tiles/T.png');
  -fx-background-repeat: no-repeat;
  -fx-background-size: contain;
}

.character-U {
  -fx-background-image: url('tiles/U.png');
  -fx-background-repeat: no-repeat;
  -fx-background-size: contain;
}

.character-V {
  -fx-background-image: url('tiles/V.png');
  -fx-background-repeat: no-repeat;
  -fx-background-size: contain;
}

.character-W {
  -fx-background-image: url('tiles/W.png');
  -fx-background-repeat: no-repeat;
  -fx-background-size: contain;
}

.character-X {
  -fx-background-image: url('tiles/X.png');
  -fx-background-repeat: no-repeat;
  -fx-background-size: contain;
}

.character-Y {
  -fx-background-image: url('tiles/Y.png');
  -fx-background-repeat: no-repeat;
  -fx-background-size: contain;
}

.character-Z {
  -fx-background-image: url('tiles/Z.png');
  -fx-background-repeat: no-repeat;
  -fx-background-size: contain;
}

